.tm {
    display: none;
}


div[data-role='content'] {
    overflow: hidden;
    position: fixed;
    top: 60px;
    bottom: -60px;
    left: 0px;
    right: 0px;
}

#welcome {
	display:none;
}


#addItem {
	display:none;
	margin-bottom: 10px;
}


#updateItem {
	display:none;
	margin-bottom: 10px;
}


#authentication {
	display:none;
}